body {
    background: #7C8399;
}

.top-header {
    background: #81995D;
    margin: 1rem;
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

ol {
    padding-left: 0;
}

.animal {
    margin-right: 2em;
    display: inline;
}

h1 {
    color: #81995D
}

a {
    color: #A4E6D0;
}

a:visited {
    color: #C6E697;
}


#spMuff {
    color: purple;
    animation-name: sparkle;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: 10;
    width:fit-content;
}

@keyframes sparkle {
    0%   {color:red; left:0px;}
    25%  {color:yellow; left:200px;}
    50%  {color:blue;  left:0px;}
    75%  {color:green; left:200px;}
    100% {color:red; left:0px;}
}